---
title: API Docs
---
{% assign sorted_collections = site.collections | sort: "position" %}
{% for collection in sorted_collections %}
	{% assign sorted_docs = collection.docs | sort: "position" %}
	{% for doc in sorted_docs %}
		<section class="doc-content">
			<section class="left-docs">
				{% if forloop.first == true %}<h2>{{ collection.title }}</h2>{% endif %}
				<h3>
					<a id="{{ doc.collection }}_{{doc.title | slugify }}">
						{{ doc.title }}
						{% if doc.type %}<span class="endpoint {{ doc.type }}"></span>{% endif %}
						{% if doc.required %}<span class="required"></span>{% endif %}
					</a>
				</h3>
				{% if doc.description %}
					<p>{{ doc.description | markdownify }}</p>
				{% endif %}
				{% if doc.endpoint %}
					<p class="endpoint-url">{{ doc.endpoint }}</p>
				{% endif %}

				{% if doc.parameters and doc.parameters[0].name %}
				<h4 class="parameters-title">Parameters</h4>
				<ul class="parent-parameters">
						{% for parameter in doc.parameters %}
							<li class="parent">
								<p class="parameter-name">{{ parameter.name }}{% if parameter.required %}<span class="reqd">required</span>{% endif %}</p>
								<p class="parameter-desc">{{ parameter.content | markdownify | remove: '<p>' | remove: '</p>' }}</p>
								{% if parameter.sub-fields %}
									<ul class="child-parameters">
										{% for field in parameter.sub-fields %}
										<li class="child">
											<p class="parameter-name">{{ field.name }}{% if field.required %}<span class="reqd">required</span>{% endif %}</p>
											<p class="parameter-desc">{{ field.content | markdownify | remove: '<p>' | remove: '</p>' }}</p>
										</li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
				</ul>
				{% endif %}

				{{ doc.content_markdown | markdownify | replace: "<dl>", "<h6>Parameters</h6><dl>" }}

				{% if doc.left_code_blocks and doc.left_code_blocks[0].code_block %}
				    {% for block in doc.left_code_blocks %}
				       {% include syntax-highlight.html block=block %}
		        {% endfor %}
		    {% endif %}
			</section>
			{% if doc.right_code_blocks and doc.right_code_blocks[0].code_block %}
			    <section class="right-code">
	    			{% for block in doc.right_code_blocks %}
		    		    {% include syntax-highlight.html block=block %}
			    	{% endfor %}
				</section>
			{% endif %}
		</section>
	{% endfor %}
{% endfor %}
