$cht-teal: #2BF1C7;
$cht-blue: #282561;
$cht-purple: #84076D;
$cht-red: #C42B2B;
$cht-pink: #F75999;
$cht-orange: #FF912D;
$cht-yellow: #F4DB26;
$cht-gray-base: #595959;
$cht-gray-cool: #8C8C8C;
$cht-gray-light: #F2F2F2;
$cht-white: #FFFFFF;
$cht-black: #000000;

/* Blues */
$Blue-900: #2d3b8f;
$Blue-850: #00496c;
$Blue-800: #282561;
$Blue-700: #1273a1;
$Blue-600: #2c8fbe;
$Blue-500: #4daedb;
$Blue-400: #ace3fc;
$Blue-300: #d7eef8;

/* Greens */
$Primary-Teal: #2BF1C7;
$Green-900: #47d7ac;
$Green-850: #2c8d8d;
$Green-800: #3aa0a0;
$Green-750: #7ee6c6;
$Green-700: #62bc96;
$Green-600: #7ee6c6;
$Green-400: #acf8e1;
$Green-300: #dcf6ee;

/* UI Messaging */
$Text-Links: #0578c1;
$Warning: #d42020;
$Success: #2e8540;
$Information: #317EA3;

/* Text */
$Gray-900: #010101;
$Gray-800: #333;
$Slate-Gray-900: #617992;
$Gray-700: #666;
$Gray-600: #ccc;
$Gray-500: #eee;
$Gray-400: #f6f6f6;
$White: #fff;
