<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >

		<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/js/main.js"></script>
		<link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<header>
			<h1>
				<button type="button" class="open-nav" id="open-nav"></button>
				<a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/images/logo-white.png" alt="{{ site.title }} logo"></a>
			</h1>

			<form action="{{ site.baseurl }}/search.html" method="get">
				<input type="text" name="q" id="search-input" placeholder="Search">
				<input type="submit" value="Search" style="display: none;">
			</form>

			{% include sidebar.html %}

			<p class="copyright">
    				&copy; {{ 'now' | date: "%Y" }} <a href=https://www.vmware.com/>VMware, Inc.</a>
			</p>
			<p class="copyright">
  				<a href=https://www.vmware.com/help/legal.html target="_blank">Terms of Use</a> | <a href=https://www.vmware.com/help/privacy.html target="_blank">Privacy</a>
			</p>
			<p class="copyright">
   				This Website Does Not Use Cookies or Other Tracking Technology
			</p>
		</header>
		<div class="main">
			{{ content }}
		</div>
		<script>
			document.getElementById("open-nav").addEventListener("click", function () {
				document.body.classList.toggle("nav-open");
			});
		</script>
	</body>
</html>
